body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	padding: 20px;
	font-size: 14px;
}

h1 {
	font-weight: 100;
	font-size: 32px;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 18px;
	font-weight: bold;
}

ul {
	margin-left: 1.8em;
	margin-bottom: 0.5em;
    padding-right: 1.0em;
    padding-bottom: 0.3em;
}

ul li { list-style: disc; }
ul li ul li { list-style: circle; }
ul li ul li ul li { list-style: square; }
ul li ul li ul li ul li { list-style: circle; }

.branch {
    background: hsla(0,100%,50%,.1);
}